.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: color 200ms;
    color: var(--text);
    box-sizing: border-box;
    perspective: 800px;
  }
  
  .preview p {
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  
  .preview img {
    width: 200px;
    height: 300px;
    transition: 500ms ease;
    transform: rotateY(10deg);
    margin-bottom: 5px;
  }

  .preview:hover {
    color: var(--primary);
    border-color: var(--primary);
    text-decoration: underline;
  }
  
  .preview:hover img {
    transform: translateY(-10px);
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  