.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0051f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: "Nave";
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 3rem 0;
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: "Azo-Sans-Web";
  font-weight: 400;
  font-style: italic;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #d0e0ff;
  border-radius: 10px;
  padding: 30px;
  margin: 40px;
  font-family: "azo-sans-web";
  font-weight: 500;
  font-size: 1.2rem;
  
}

.form > * {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  font-family: "azo-sans-web";
}

.form > button {
  cursor: pointer;
  transition: 0.15s ease;
  color: #d0e0ff;
  background-color: #0051f3;
  border-radius: 10px;
  font-family: "azo-sans-web";
  font-weight: 300;
  padding: 2px 15px 2px 15px;
  font-size: 1rem;
}

.form>button:is(:hover, :focus, :active) {
  color: #d0e0ff;
  background-color: #002c85;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #d0e0ff;
  background-color: #0051f3;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease;
  max-width: 350px;
}

.card:is(:hover, :focus, :active) {
  background-color: #002c85;
}

.card h2 {
  margin: 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
